// Colors

$lightRed: hsl(356, 100%, 66%); // CTA text
$veryLightRed: hsl(355, 100%, 74%); // CTA hover background
$veryDarkBlue: hsl(208, 49%, 24%); // headings
$white: hsl(0, 0%, 100%); // text 
$grayishBlue: hsl(240, 2%, 79%); //footer text
$veryDarkGrayishBlue: hsl(207, 13%, 34%); // body copy
$veryDarkBlackBlue: hsl(240, 10%, 16%); // footer background

// Background gradient - Intro/CTA mobile nav:

$lightOrange: hsl(13, 100%, 72%);
$lightRed2: hsl(353, 100%, 62%);

// Background gradient - body

$veryDarkGrayBlue: hsl(237, 17%, 21%);
$veryDarkDesaturatedBlue: hsl(237, 23%, 32%);

// Font size

$fs-11: 0.6875rem; // 11px
$fs-14: 0.875rem; // 14px
$fs-20: 1.25rem; // 20px
$fs-28: 1.75rem; // 28px
$fs-46: 2.875rem; // 46px

